<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore's books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<htmlxmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
    	<input type="submit" value="Sign Out" class="btn btn-danger"/>
    </form>

	<h1>Book list</h1>
    <table class="table table-striped">
		<tr>
		    <th>Author </th>
		    <th>Title </th>
   		    <th>ISBN </th>
   		    <th>Year </th>
   		    <th>Price </th>
   		    <th>Department </th>
		    <th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>
    	<tr th:each = "book : ${books}">
			<td th:text="${book.author} "></td>  		
			<td th:text="${book.title}"></td>  		
			<td th:text="${book.isbn} "></td>   		
			<td th:text="${book.year} "></td>   		
			<td th:text="${book.price} "></td>  		
    		<td th:text="${book.department.name}"></td> 		
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>    		
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}"  class="btn btn-success">Edit</a></td>    		
     	</tr>
     </table>
     	 <a href="/add" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')">Add Book</a>
</body>
</html>